/* Aqui empieza el proyecto */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body p {
  font-size: 1em;
}main.container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  text-align: center;
  /* margin: 32px 16px 32px 16px; */
  padding: 8px;
  border-radius: 16px;
}main.container img {
  border-radius: 16px;
  margin-bottom: 8px;
}main.container h1 {
  color: var(--Dark-blue);
}main.container p {
  padding: 0px 12px;
  margin-top: 16px;
  color: var(--Grayish-blue);
}