/* Aqui empieza el proyecto */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--Light-gray);
  display: grid;
  place-content: center;
}
.card {
  width: 20rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.25rem;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}
.info-container {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.info-container h1.title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--Dark-blue);
  line-height: 2rem;
  margin-bottom: 1rem;
}
.info-container p.text {
  font-size: 1rem;
  color: var(--Grayish-blue);
}

@media screen and (max-width: 320px) {
  .card {
    width: 18rem;
  }
}
